.tracker-container {
  padding: 1ch;
}
.habit-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.habit-table th,
.habit-table td {
  border: 2px solid #153b63;
  padding: 6px;
  text-align: center;
}

.habit-title {
  background: #e6d2aa;
  width: 200px;
  font-weight: bold;
  color: #153b63
}

.habit-name {
  text-align: left !important;
  padding-left: 8px;
  font-weight: 500;
  white-space: nowrap;
  color: #153b63; /* biar tidak patah */
}

.cell {
  cursor: pointer;
  user-select: none;
}

.cell.checked {
  background: #4caf50;
  color: #153b63;
  font-weight: bold;
}

.habit-table {
  width: 100%;
  table-layout: fixed; /* BIAR LEBAR IKUT colgroup, BUKAN ISI */
  border-collapse: collapse;
}


.selector-row {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.selector-row select {
  padding: 6px 10px;
  font-size: 16px;
}

.month-year-select {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  color: #153b63;
}

.sel {
background-color: #e6d2aa;
color: #153b63;
border: 2px solid #153b63;
}

.month-year-select select {
  padding: 6px 10px;
  font-size: 14px;
}

.day-header, h4 {
   color: #153b63;
}

.btn {
  background-color: #e6d2aa;
  color: #153b63;
  border: 2px solid #153b63;
  margin-top: 12px;
}

