.habit-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.habit-table th,
.habit-table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

.habit-title {
  background: black;
  width: 200px;
  font-weight: bold;
}

.habit-name {
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  background: black;
}

.cell {
  cursor: pointer;
  user-select: none;
}

.cell.checked {
  background: #4caf50;
  color: white;
  font-weight: bold;
}

.habit-table {
  width: 100%;
  table-layout: fixed; /* BIAR LEBAR IKUT colgroup, BUKAN ISI */
  border-collapse: collapse;
}


.selector-row {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

.selector-row select {
  padding: 6px 10px;
  font-size: 16px;
}

